{{>layout/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#boardEntity}}
        <tr>
            <th >{{id}}</th>
            <td >{{title}}</td>
            <td>{{content}}</td>
        </tr>
    {{/boardEntity}}
    </tbody>
</table>
<a href="/boards/{{boardEntity.id}}/updateForm" class="btn btn-primary">수정하기</a>
<a href="/boards">목록가기</a>
{{>layout/footer}}